fastapi==0.110.0
uvicorn==0.29.0
psycopg2-binary==2.9.9
sqlalchemy==2.0.29

opentelemetry-api==1.24.0
opentelemetry-sdk==1.24.0
opentelemetry-exporter-otlp==1.24.0
opentelemetry-instrumentation-fastapi==0.45b0
opentelemetry-instrumentation-psycopg2==0.45b0
opentelemetry-instrumentation-sqlalchemy==0.45b0
